*{
    margin: 0;
    padding: 0;
    border: 0;
}

h1{
    color: #000000;
    background-color: rgb(80, 131, 122);
    border: 1px solid black;
    margin-bottom: 40px;
    text-align: center;
}

.conteudo{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    font-size:large;
}

ol li a{
    text-decoration: none;
    color: black;

}


